/* @font-face {
    font-family: Montserrat;
    src: local('Montserrat-Thin'), url('../fonts/Montserrat-Thin.ttf');
    font-weight: 300;
  } */

body {
    font-family: 'Roboto', system-ui;
    font-smoothing: antialiased;
}
