:root {
    --paletteColor1: #FFFFFF;
    --paletteColor2: #292929;
    --paletteColor3: #C6C6C6; // footer text
    --paletteColor4: #383838; // footer bg
    --paletteColor5: #F7F7F7; // section bg
    --paletteColor6: #FF4748;
}
