@import "normalize.css";
@import "fonts.css";
@import "media.css";
@import "palette.css";

/* Content width*/
:root {
    --contentWidth: 1132px;
    --innerPadding: 0 10px;
}

/*Helpers*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0,0,0,0);
    clip-path: inset(100%);
}

/*Logo*/
.logo {
    margin-right: auto;
}

/*Phone*/
.phone {
    a {
        font-size: 16px;
        color: var(--paletteColor1);
        text-decoration: none;
        &:hover {
            color: var(--paletteColor6);
        }
        &:active {
            color: var(--paletteColor7);
        }
    }
}

/*Social*/
.social {
    margin-left: 30px;
    &__link {
        display: inline-block;
        width: 22px;
        height: 22px;

        svg {
            width: 100%;
            height: 100%;
            fill: var(--paletteColor1);
        }

        &:hover {
            svg {
                fill: var(--paletteColor6);
            }
        }

        &:active {
            svg {
                fill: var(--paletteColor7);
            }
        }
    }
}

/*Button*/
.buttons__wrapper {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    color: var(--paletteColor1);
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 2px var(--paletteColor1-07);
    &:not(:first-child) {
        margin-left: 20px;
    }

    &:hover {
        box-shadow: inset 0 0 0 2px var(--paletteColor1);
    }
    span {
        display: block;
    }
    &--primary {
        background-color: var(--paletteColor6);
        box-shadow: none;

        &:hover {
            background-color: var(--paletteColor7);
            box-shadow: none;
        }
    }
    &--booking {
        span {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDE1IDE1IiBmaWxsPSJub25lIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjU2MjUgMi40Mjk2OUM3LjgzODY0IDIuNDI5NjkgOC4wNjI1IDIuNjUzNTUgOC4wNjI1IDIuOTI5NjlWNy4zMzk3N0wxMC40Njk0IDEwLjcwOTRDMTAuNjI5OSAxMC45MzQxIDEwLjU3NzggMTEuMjQ2NCAxMC4zNTMxIDExLjQwNjlDMTAuMTI4NCAxMS41Njc0IDkuODE2MTQgMTEuNTE1MyA5LjY1NTYzIDExLjI5MDZMNy4wNjI1IDcuNjYwMjNWMi45Mjk2OUM3LjA2MjUgMi42NTM1NSA3LjI4NjM2IDIuNDI5NjkgNy41NjI1IDIuNDI5NjlaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTcuNSAxNEMxMS4wODk5IDE0IDE0IDExLjA4OTkgMTQgNy41QzE0IDMuOTEwMTUgMTEuMDg5OSAxIDcuNSAxQzMuOTEwMTUgMSAxIDMuOTEwMTUgMSA3LjVDMSAxMS4wODk5IDMuOTEwMTUgMTQgNy41IDE0Wk03LjUgMTVDMTEuNjQyMSAxNSAxNSAxMS42NDIxIDE1IDcuNUMxNSAzLjM1Nzg2IDExLjY0MjEgMCA3LjUgMEMzLjM1Nzg2IDAgMCAzLjM1Nzg2IDAgNy41QzAgMTEuNjQyMSAzLjM1Nzg2IDE1IDcuNSAxNVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==");
        }
    }
    &--gallery {
        span {
            width: 12px;
            height: 16px;
            margin: -2px 0 0 8px;
            content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h 0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2IiBmaWxsPSJub25lIj4KPHBhdGggZmlsbC1ydWxlPS JldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4wNTMzIDEwLjUwNzRMNi4yODAzN SAxNS4yODAzQzUuOTg3NDYgMTUuNTczMiA1LjUxMjU5IDE1LjU3MzIgNS4yMTk2OSAxNS4yODAz TDAuNDQ2NzIxIDEwLjUwNzRDMC4xNTM4MjcgMTAuMjE0NSAwLjE1MzgyNyA5LjczOTU5IDAuNDQ 2NzIxIDkuNDQ2N0MwLjczOTYxNCA5LjE1MzgxIDEuMjE0NDkgOS4xNTM4MSAxLjUwNzM4IDkuND Q2N0w1LjAwMDAyIDEyLjkzOTNMNS4wMDAwMiAwLjVMNi41MDAwMiAwLjVMNi41MDAwMiAxMi45M zkzTDkuOTkyNjYgOS40NDY3QzEwLjI4NTYgOS4xNTM4MSAxMC43NjA0IDkuMTUzODEgMTEuMDUz MyA5LjQ0NjdDMTEuMzQ2MiA5LjczOTU5IDExLjM0NjIgMTAuMjE0NSAxMS4wNTMzIDEwLjUwNzR aIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4= ");
        }
    }
}

/*Navigation*/
.nav {
    display: flex;
    &__item {
        list-style: none;
    }

    &__link {
        font-size: 14px;
        color: var(--paletteColor1);
        text-decoration: none;
        margin-right: 30px;

        &:hover {
            color: var(--paletteColor6);
        }

        &:active {
            color: var(--paletteColor7);
        }
    }
}

/*Text*/
h1 {
    max-width: 480px;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: var(--paletteColor1);
}
h2 {
    font-size: 28px;
    font-weight: 500;
    color: var(--paletteColor2);
    margin-bottom: 2.5rem;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--paletteColor2);
    margin-bottom: 2rem;
    cursor: default;
}
.text-marked {
    padding: 3px 5px;
    border-radius: 4px;
    background-color: var(--paletteColor6-02);
    cursor: pointer;
    &:hover {
        background-color: var(--paletteColor6-05);
    }
}

/*Header*/
.header {
    padding-top: 30px;
    background: url("../img/header-bg-compressed.jpg") center center no-repeat var(--paletteColor4);
    background-size: cover;

    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 145px 0 230px 0;
    }
}

/*Offer*/
.offer {
    padding: 75px 0 110px 0;
    background-color: var(--paletteColor5);
    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        max-width: 33.5%;
        flex-shrink: 0;
    }
    &__image {
        margin-left: 10%;
        object {
            max-width: 100%;
        }
    }
}

/*Gallery*/
.gallery {
    padding: 75px 0 110px 0;
    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1.1766%;
    }
    h2 {
        grid-area: 1/ 1/ 2/ -1;
        text-align: center;
    }
    .item--medium {
        max-width: 100%;
        grid-column-end: span 6;
        text-align: center;
        margin-bottom: 30px;
    }
    .item--small {
        grid-column-end: span 4;
        text-align: center;
        img {
            max-width: 100%;
            border-radius: 4px;
        }
    }
    span {
        display: block;
        margin-top: 10px;
        font-size: 20px;
    }
}

/*Discounts*/
.discounts {
    padding: 75px 0 110px 0;
    background-color: var(--paletteColor5);
    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        max-width: 33.5%;
        flex-shrink: 0;
    }
    &__image {
        margin-left: 10%;
        img {
            max-width: 100%;
        }
    }
}

/*Questions*/
.questions {
    padding: 75px 0 110px 0;
    background: url("../img/questions-bg-compressed.jpg") center center no-repeat var(--paletteColor4);
    background-size: cover;
    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        margin: 0 0 40px 0;
        color: var(--paletteColor1);
    }
    & .phone {
        margin: 0 0 40px 0;
        a {
            font-size: 48px;
        }
    }
    & .button--gallery span {
        transform: rotate(180deg);
    }
}


/*Address*/
.address {
    padding: 75px 0 110px 0;
    background-color: var(--paletteColor5);
    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    &__text {
        margin-bottom: 40px;
        text-align: center;
        h3 {
            margin: 0 0 15px 0;
            font-size: 18px;
            font-weight: 400;
        }
        p {
            margin: 0 0 30px 0;
            font-size: 24px;
            font-weight: 500;
        }
        ul {
            padding: 0;
        }
        li {
            font-size: 16px;
            list-style: none;
            margin-bottom: 25px;
            span {
                font-weight: 500;
            }
        }
    }
}

.map {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 70px;
    width: 100%;
    min-height: 500px;
    box-shadow: 10px 10px 25px 0 rgba(0,0,0,0.05);
    iframe {
        width: 100%;
        height: 100%;
        grid-area: 1 / 1/ 3/ -1;
    }
    .button {
        grid-area: 2/ 1/ -1/ 2;
        margin-left: 0;
        justify-self: center;
        z-index: 1;
        span {
            transform: rotate(-90deg);
        }
    }
}


.footer {
    padding: 40px 0 40px 0;
    background-color: var(--paletteColor4);
    &__inner {
        max-width: var(--contentWidth);
        margin: 0 auto;
        padding: var(--innerPadding);
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    &__copyright {
        text-align: center;
        color: var(--paletteColor1);
    }
}
